<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18AEBD681E1B54D5008A2CCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AEBD811E1B54D5008A2CCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AEBD8C1E1B54D5008A2CCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
